@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
/* font-family: 'Poppins', sans-serif; */

.body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.header-bg {
  background-color: #264653;
  width: 100%;
}
.login-button {
  background-color: #e76f51;
}

.banner-text h1 {
  color: #ffffff;
  font-family: "Poppins";
}
.banner-text p {
  color: #e0e0e0;
}
.purchase-btn-bg {
  background-color: #e76f51;
  color: white;
}
/* header end  */

/* fetured bike  */
#bike-gray {
  filter: grayscale(90%);
}

/* happy clints  */

.clint-bg {
  background-color: #ffffff;
}

.fa-star {
  color: #e77c40;
}

/* FAQ section  */
h2 span {
  color: #e76f51;
}
.FAQ {
  font-family: "Poppins";
}
